.card {
  border: 2px solid #0A4D8A; /* Borde azul oscuro */
  border-radius: 10px;
  padding: 20px;
  width: 18vw;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición para efectos suaves */
  display: flex;           /* Usar flexbox */
  flex-direction: column;  /* Alinear contenido en columna */
  justify-content: center; /* Centrar verticalmente */
  align-items: center;     /* Centrar horizontalmente */
  text-align: center;      /* Centrar texto */
}

.card-content {
  flex-grow: 1;           /* Permitir que el contenido crezca para centrarlo */
}

.card:hover {
  transform: scale(1.05);  /* Aumenta ligeramente el tamaño */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);  /* Sombra más pronunciada */
  border-color: #007BFF;  /* Cambia el color del borde en hover */
}
