.card {
  max-height: 500px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 16px;
  width: 100%; /* Asegúrate de que la tarjeta ocupe el ancho completo de su contenedor */
}

.cardImage {
  width: 100%; /* 100% de ancho */
  height: 50%; /* 50% de alto */
  
  object-fit: cover; /* Mantiene la proporción de la imagen */
}

.card-content {
  padding: 16px;
}

.card-title {
  margin: 0; /* Elimina margen por defecto para h2 */
  font-size: 1.5rem; /* Tamaño de fuente para el título */
}

.card-type,
.card-info {
  margin: 4px 0; /* Espaciado entre las líneas */
}
